.Rproj.user/*
.Rhistory
.RData
.Ruserdata
.Rproj.user
.httr-oauth
**/*_cache/
**/cache/
**/logs/
**/derby.log
**/*.xls
**/*.xlsx
**/TEST/
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.nav
**/*.out
**/*.synctex.gz
**/*.toc
**/*.snm